body {
  min-width: 360px; }

.bold {
  font-weight: bold; }

.index-page {
  max-width: 700px; }
  .index-page .top .nav-item:not(:first-child) {
    margin-left: 10px; }
  .index-page .top .nav-item a:not(.active) {
    color: white;
    background-image: linear-gradient(to bottom, #0882b3, #1f64a5); }
  .index-page .top .tab-content {
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6; }
    .index-page .top .tab-content .tab-pane:first-child {
      padding-bottom: 10px; }
  .index-page .bottom {
    margin-top: 20px; }
