extends ./layouts/default.pug
block content
    .index-page.row
        .col
            .top
                ul.nav.nav-tabs.tabs.col-12
                    li.nav-item
                        a.nav-link.active.show(data-toggle='tab' href='#profile') Профиль
                    li.nav-item 
                        a.nav-link(data-toggle='tab' href='#friends') Друзья пользователя
                .tab-content.col-12.pt-3.pb-1
                    #profile.tab-pane.fade.active.show 
                        profile-tab
                    #friends.tab-pane.fade
                        friends-tab
            .bottom
                add-interest-form