<template lang="pug">
    div
        input(type="text" placeholder="Новый интерес" v-model="interest" maxlength="50")
        button(@click="add" :disabled="!interest") Добавить
</template>

<script>
export default {
    data() {
        return {
            interest: ""
        }
    },
    methods: {
        add() {
            if (/^[0-9a-zA-Zа-яА-Я-" ]{1,}$/i.test(this.interest)) {
                let interests = localStorage.getItem('interests')
                if (interests) interests = interests.split(', ')
                else interests = []
                interests.unshift(this.interest)
                interests = interests.join(', ')
                localStorage.setItem('interests', interests)
                location.reload()
            } else {
                alert("Недопустимые символы!")
            }
        }
    }
}
</script>

<style lang="scss" scoped>
    input {
        padding: 0 5px;
    }
</style>

