<template lang="pug">
    .scroll
        .row
            .col-md-6.row.friend(v-for="friend in friends")
                .col-4 
                    .img(:style="{ 'background-image': 'url(' + `${friend.photo}` + ')' }")
                .col-8.info
                    div
                        p.name
                            a(href="#") {{ friend.name }}
                        p.city {{ friend.city }}
                    div(v-if="friend.online")
                        p.online Online
</template>

<script>
export default {
    data() {
        return {
            friends: [{
                name: "Ангел Святославович",
                city: "г. Вишневое",
                photo: "https://sun3-2.userapi.com/c635107/v635107351/9fd4/cljmE7s7Z2I.jpg",
                online: false,
            }, {
                name: "Максим Семенович",
                city: "г. Кайбицы",
                photo: "https://pp.userapi.com/c635107/v635107437/cbb7/G_T02DRY7G4.jpg",
                online: false
            }, {
                name: "Венедикт Олегович",
                city: "г. Селты",
                photo: "https://sun3-4.userapi.com/c635107/v635107908/8c08/0-LHUNiWhpA.jpg",
                online: true
            }, {
                name: "Авдей Эльдарович",
                city: "г. Санкт-Петербург",
                photo: "https://sun3-2.userapi.com/c635107/v635107052/cd41/FLfDZIV74PI.jpg",
                online: false
            }, {
                name: "Анжела Федоровна",
                city: "г. Конышевка",
                photo: "https://sun3-2.userapi.com/c635107/v635107694/b844/l7sQZ7MrEWI.jpg",
                online: true
            }, {
                name: "Георгий Николаевич",
                city: "г. Октябрьск",
                photo: "https://pp.userapi.com/c635107/v635107896/b51a/xsBlU-BrY1c.jpg",
                online: false
            }, {
                name: "Лариса Иосифовна",
                city: "г. Таруса",
                photo: "https://pp.userapi.com/c635107/v635107173/ecaa/2eTISY6I2yk.jpg",
                online: true
            }, {
                name: "Фадей Максимович",
                city: "г. Бузулук",
                photo: "https://sun9-14.userapi.com/c635107/v635107295/a945/EiszAcx-R3w.jpg",
                online: true
            }, {
                name: "Нестор Васильевич",
                city: "г. Нагорное",
                photo: "https://pp.userapi.com/c635107/v635107521/935e/EVMe1NNPFAM.jpg",
                online: true
            }, {
                name: "Лидия Матвеевна",
                city: "г. Старица",
                photo: "https://sun9-6.userapi.com/c635107/v635107521/9356/HsyuiwbY4qk.jpg",
                online: true
            }, {
                name: "Мариан Геннадиевич",
                city: "г. Бавлы",
                photo: "https://pp.userapi.com/c635107/v635107289/916c/PCpOaQUH5ig.jpg",
                online: false
            }, {
                name: "Сильва Семеновна ",
                city: "г. Тольятти",
                photo: "https://sun9-12.userapi.com/c635107/v635107997/f4bf/_VwVeWGDJqw.jpg",
                online: true
            }, {
                name: "Элла Кирилловна ",
                city: "г. Тасеево",
                photo: "https://pp.userapi.com/c635107/v635107221/9baa/EOtMcah1yu4.jpg",
                online: false
            }]
        }
    }
}
</script>

<style lang="scss" scoped>
    .scroll {
        overflow-y: auto;
        overflow-x: hidden;
        height: 350px;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            background: #ececec;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #107bb1;
        }
    }
    .friend {
        height: 90px;
        padding: 5px 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        > div {
            height: 100%;
            padding: 0 7px;
            .img {
                width: 100%;
                height: 80px;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        .info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p {
                margin: 0;
                &.city {
                    font-size: 0.8rem;
                }
                &.online {
                    font-size: 0.8rem;
                    font-style: italic;
                    color: green;
                }
            }
        }
    }
</style>
