<template lang="pug">
    div
        .row
            .col-md-4
                .img(@click="editPhoto = true")
                    img(:src="`${photo}`")
                input.mt-1(type="text" v-if="editPhoto" v-model="photo" ref="photo" placeholder="Ссылка на фото")
                button.add Добавить в друзья
            .col-md-8
                h1.name(v-if="!editName" @click="editName = true") {{ name }}
                input(type="text" v-else v-model="name" ref="name" placeholder="Имя")
                p.text-muted(v-if="!editCity" @click="editCity = true") {{ city }}
                input(type="text" v-else v-model="city" ref="city" placeholder="Город")
                table
                    tr
                        td.bold Семейное положение
                        td 
                            p(v-if="!editStatus" @click="editStatus = true") {{ status }}
                            input(type="text" v-else v-model="status" ref="status" placeholder="Семейное положение")
                    tr
                        td.bold Телефон
                        td
                            p(v-if="!editPhone" @click="editPhone = true") {{ phone }}
                            input(type="text" v-else v-model="phone" ref="phone" placeholder="Телефон")
                    tr
                        td.bold E-mail
                        td 
                            p(v-if="!editEmail" @click="editEmail = true") {{ email }}
                            input(type="text" v-else v-model="email" ref="email" placeholder="Email")
                p.bold Интересы
                .interests
                    span.interest(v-for="interest, index in interests" :title="interest") 
                        a(href="#" @click="deleteInterest(index)") {{ interest }}
                
</template>

<script>
export default {
    data() {
        return {
            photo: localStorage.getItem('photo') || "https://upload.wikimedia.org/wikipedia/commons/thumb/6/68/Lynx_lynx_poing.jpg/266px-Lynx_lynx_poing.jpg",
            name: localStorage.getItem('name') || "Виталя Гора",
            city: localStorage.getItem('city') || "г. Нижние шахты",
            status: localStorage.getItem('status') || "холост",
            phone: localStorage.getItem('phone') || "+7 (912) 87 87 045",
            email: localStorage.getItem('email') || "p.sneg@inbox.ru",
            editPhoto: false,
            editName: false,
            editCity: false,
            editStatus: false,
            editPhone: false,
            editEmail: false,
            interests: localStorage.getItem('interests') || ""
        }
    },
    created() {
        document.addEventListener('click', this.documentClick)
        document.addEventListener('keyup', this.enter)
    },
    destroyed() {
        document.removeEventListener('click', this.documentClick)
        document.removeEventListener('keyup', this.enter)
    },
    mounted() {
        if (this.interests) this.interests = this.interests.split(', ')
        else this.interests = []
    },
    methods: {
        documentClick(e) {
            let target = e.target

            if (this.$refs.photo && this.$refs.photo !== target && !this.$refs.photo.contains(target) && this.editPhoto) {
                localStorage.setItem('photo', this.photo)
                this.editPhoto = false
            }

            if (this.$refs.name && this.$refs.name !== target && !this.$refs.name.contains(target) && this.editName) {
                localStorage.setItem('name', this.name)
                this.editName = false
            }

            if (this.$refs.city && this.$refs.city !== target && !this.$refs.city.contains(target) && this.editCity) {
                localStorage.setItem('city', this.city)
                this.editCity = false
            }

            if (this.$refs.status && this.$refs.status !== target && !this.$refs.status.contains(target) && this.editStatus) {
                localStorage.setItem('status', this.status)
                this.editStatus = false
            }
            
            if (this.$refs.phone && this.$refs.phone !== target && !this.$refs.phone.contains(target) && this.editPhone) {
                localStorage.setItem('phone', this.phone)
                this.editPhone = false
            } 

            if (this.$refs.email && this.$refs.email !== target && !this.$refs.email.contains(target) && this.editEmail) {
                localStorage.setItem('email', this.email)
                this.editEmail = false
            }
        },
        enter(e) {
            if (e.keyCode == 13) {
                localStorage.setItem('photo', this.photo)
                this.editPhoto = false
                localStorage.setItem('name', this.name)
                this.editName = false
                localStorage.setItem('city', this.city)
                this.editCity = false
                localStorage.setItem('status', this.status)
                this.editStatus = false
                localStorage.setItem('phone', this.phone)
                this.editPhone = false
                localStorage.setItem('email', this.email)
                this.editEmail = false
            }
        },
        deleteInterest(index) {
            this.interests.splice(index, 1)
            localStorage.setItem('interests', this.interests.join(', '))
            location.reload()
        }
    }
}
</script>

<style lang="scss" scoped>
    h1 {
        margin-bottom: 0;
    }
    input {
        display: block;
        padding: 2px 5px;
        margin: 0;
        width: 100%;
    }
    table {
        margin-bottom: 25px;
        width: 100%;
        tr {
            width: 100%;
            td {
                width: 50%;
                &:first-child {
                    padding: 3px 15px 3px 0;
                    @media (max-width: 450px) {
                        padding: 3px 10px 3px 0;
                    }
                }
                &:nth-child(2) {
                    padding: 3px 0 3px 15px;
                    @media (max-width: 450px) {
                        padding: 3px 0 3px 10px;
                    }
                }
                p {
                    margin: 4px 0;
                }
            }
        }
    }
    .img {
        max-height: 600px;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
        }
    }
    .add {
        cursor: pointer;
        background-image: linear-gradient(to bottom, #e67f00, #e55300);
        border-radius: 4px;
        color: white;
        margin-top: 10px;
        margin-bottom: 15px;
        display: inline-block;
        padding: 5px 15px;
        border: none;
        outline: none;
        width: 100%;
        &:hover {
            background-image: linear-gradient(to bottom, #e55300, #cc4b01);
        }
    }

    span.interest {
        display: inline-block;
        padding: 5px 10px;
        border-radius: 4px;
        border: 1px solid #e7e7e7;
        margin: 5px;
        max-width: 350px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        :hover {
            background: #f5f5f5
        }
    }
</style>

