doctype html
html
    head
        include ./includes/head.pug
    body
        #vue
            block body
                .default
                    .content.container.py-4.px-3.px-sm-4.px-md-5
                        block content
        include ./includes/scripts.pug