.index-page {
    max-width: 700px;
    .top {
        .nav-item {
            &:not(:first-child) {
                margin-left: 10px;
            }
            a {
                &:not(.active) {
                    color: white;
                    background-image: linear-gradient(to bottom, #0882b3, #1f64a5);
                }
            }
        }
        .tab-content {
            border-right: 1px solid #dee2e6;
            border-left: 1px solid #dee2e6;
            border-bottom: 1px solid #dee2e6;
            .tab-pane {
                &:first-child {
                    padding-bottom: 10px;
                }
            }
        }
    }
    .bottom {
        margin-top: 20px;
    }
}